<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeAndDiabetes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <userSettings>
        <MeAndDiabetes.My.MySettings>
            <setting name="UIS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rappuicho" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastglic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nome" serializeAs="String">
                <value>Utente</value>
            </setting>
            <setting name="cognome" serializeAs="String">
                <value>Utente</value>
            </setting>
            <setting name="lastbolo" serializeAs="String">
                <value />
            </setting>
            <setting name="eta" serializeAs="String">
                <value>0</value>
            </setting>
        </MeAndDiabetes.My.MySettings>
    </userSettings>
</configuration>